**/application-key.yml
**/application-key-*.yml

/.metadata/

HELP.md

build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### gradle ###
.gradle/
backend/Goose/.gradle/

# macOS 시스템 파일 무시
.DS_Store
**/.DS_Store

# 인텔리제이 환경설정 무시 
.idea/
../idea/
../.idea/
.idea/
.idea/
.idea/
